page-gallerie{
    .card-background-page {

        ion-card {
         position: relative;
          text-align: center;
       // width: 100%;
        
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.6em;
          width: 100%;
          font-weight: bold;
          color: #fff;
         
        }
      
        .card-titl{
            padding: 10px;
            background: rgba(0, 0, 0, 0.5);
        }
       
        .card-image{
             max-height: 250px;
        }
        






      }





}