page-recipe{
    #recipe-infos{
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
        font-size: 12px;
    }
    #card-img{
        height: 250px;
        width: 100%;
    }
    .recipe-span{
       font-family:cursive;
       font-size: 13px;
       color: color($colors,dark); 
    }

    .recipe-infos-icon{
        color: color($colors,primary); 
    }

    #title-recipe{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }


    ion-segment-button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }





    .card-background-page{
        ion-card{
            position: relative;
        }

      

        .card-image{
            height: 188px;
            display: block;
        }

        .card-acceuil-infos{
          position: absolute;
          top:0;
          left: 5px;
          list-style: none;
          text-align: center;
          font-size: 12px;
          color: #fff;  
          padding-left: 180px;
        }

        .card-acceuil-infos li{

            display: inline-block;
            position: relative;
            background: rgba(0, 0,0, 0.33);
            border-radius: 5px;
            padding: 5px;
            height: 25px;
            line-height: 16px;
            margin: 0 auto;
            margin-left: 10px
            

        }
    }







}